
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
ENV/
.ipynb_checkpoints/
*.ipynb
data/
*.csv
*.xlsx
*.parquet
*.pkl
*.joblib
*.h5
*.onnx
.DS_Store
Thumbs.db
.vscode/
.idea/

*.log


build/
dist/
*.egg-info/

.streamlit/